body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background-color: rgb(255, 255, 255);
}

.about-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav {
  display: flex;
  flex-direction: row;
  gap: 30px;
  padding: 30px;
}

.nav button {
  transform: scale(1.4);
  padding-left: 20px;
  color: black;
  border: none;
  background: none;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
  position: relative;
}

.nav button::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 4px;
  background-color: rgb(55, 234, 102);
  transition: 0.2s ease-in-out;
  transform: scaleX(0);
}

.nav button:hover::before {
  transform: scaleX(1);
}

.about {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about p, h1 {
  color: black;
  margin: 0;
}

.test {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.text-wrapper p {
  font-family: sans-serif;
  line-height: 0;
  margin-left: 10px;
  margin-right: 10px;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding-top: 5px;
  padding-left: 5px;
}

.links a {
  transform: scale(0.8);
  color: black;
  transition: 0.2s ease-in-out;
}

.links a:hover {
  color: rgb(55, 234, 102);
}

.me {
  background-image: linear-gradient(to bottom, white, rgb(55, 234, 102));
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.me div {
  width: 400px;
  height: 250px;
  padding: 20px;
}

.me h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 23px;
}

.me p {
  margin: 5px;
  font-weight: bold;
}

@keyframes fadeIn {
  from {
      background-color: transparent;
  }
  to {
      background-color: yellow;
  }
}

.skills-component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(55, 234, 102);
}

.skills-component h1 {
  text-align: center;
}

.skills{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

.skills .skill {
  display: flex;
  flex-direction: column;
  width: 300px;
  align-items: center;
  border: 2px solid black;
  border-radius: 20px;
  padding: 30px;
  margin: 20px;
  background-color: white;
}

.skill-type {
  border-bottom: 2px solid black;
  font-weight: bold;
  padding: 5px;
}

.projects {
  background: linear-gradient(to bottom, rgb(55, 234, 102), white);
}

.projects h1 {
  text-align: center;
}

.projects-grid {
  padding-top: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.project-item {
  position: relative;
  overflow: hidden;
}

.project-item img {
  width: 90vw; 
  height: auto; 
  transition: transform 0.3s ease; 
}

.project-item:hover img {
  transform: scale(1.1); 
}

.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  opacity: 0; 
  transition: opacity 0.3s ease; 
}

.overlay .title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.overlay a {
  padding-left: 30px;
  text-decoration: none;
  color: white;
}

.overlay .stack {
  display: flex;
  gap: 10px;
}

.overlay .stack p {
  border: 2px solid white;
  padding: 6px;
  border-radius: 15px;
}

.project-item:hover .overlay {
  opacity: 1; 
}

.github-btn {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.github-btn a {
  border: 2px solid black;
  border-radius: 7px;
  padding-left: 10px;
  padding-right: 10px;
  color: black;
  font-weight: bold;
  text-decoration: none;
  transition: 0.2s ease-in-out;
}

.github-btn a:hover {
  box-shadow: 10px 10px 10px black;
  transform: scale(1.05);
}

.hidden {
  opacity: 0;
  filter: blur(3px);
  transform: translateX(-10%);
  transition: all 0.3s ease-in-out;
}

.visible {
  opacity: 1;
  transform: translateX(0%);
  filter: blur(0px);
  box-shadow: 8px 8px 8px black;
}

.skill:nth-child(2) {
  transition-delay: 200ms;
}

.skill:nth-child(3) {
  transition-delay: 300ms;
}

.skill:nth-child(4) {
  transition-delay: 400ms;
}

.skill:nth-child(5) {
  transition-delay: 500ms;
}

footer {
  margin-top: 20px;
  padding-top: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
  background-color: rgb(20, 19, 19);
}

.email-link {
  color: black;
  border: 2px solid black;
  border-radius: 10px;
  background-color: white;
  padding: 6px;
  text-decoration: none;
  transition: 0.2s ease-in-out;
}

.email-link:hover {
  box-shadow: 10px 10px 10px black;
}

.footer-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.footer-links a {
  text-decoration: none;
  color: white;
  transition: 0.2s ease-in-out;
}

.footer-links a:hover {
  color: rgb(55, 234, 102);
}

@media screen and (min-width: 500px) {

  .about-page {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .nav {
    border-left: 4px solid black;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px;
  }

  .links {
    display: flex;
    gap: 30px;
    padding-top: 20px;
    padding-left: 5px;
  }
  
  .links a {
    color: black;
    transform: scale(1.3);
    transition: 0.2s ease-in-out;
  }
  
  .links a:hover {
    color: rgb(55, 234, 102);
  }

  .nav button {
    font-size: 25px;
  }
  
  .about {
    height: 80vh;
    align-items: baseline;
    padding-left: 50px;
  }

  .about p {
    font-size: 50px;
  }

  .about h1 {
    font-size: 70px;
  }

  .me {
    height: 50vh;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .me div {
    width: 1000px;
    padding: 20px;
  }

  .me h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 50px;
  }
  
  .me p {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    margin: 4px;
    font-size: 30px;
  }

  .skills-component h1 {
    font-size: 50px;
  }
  
  .skills .skill {
    width: 400px;
    margin: 20px;
  }

  .skills .skill p {
    font-size: 20px;
  }

  .projects h1 {
    font-size: 50px;
  }

  .projects-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 20px;
  }

  .project-item img {
    width: 50vw; 
    height: 500px; 
    transition: transform 0.3s ease;
    object-fit: cover;
  }

  .text-wrapper {
    margin-top: 8px;
    text-align: center;
  }

  .text-wrapper p {
    font-family: sans-serif;
    line-height: 0;
    margin-left: 10px;
    margin-right: 10px;
  }
}