body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background-color: rgb(255, 255, 255);
}

.navbar {
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: space-between;
  align-items: center;
  height: 20%;
  background-color: black;
  border-bottom: 2px solid rgb(55, 234, 102);
  padding-left: 30px;
  padding-right: 30px;
}

.navbar .site-nav {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}

.navbar .links {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 20px;
}

.navbar .links a {
  color: white;
  text-decoration: none;
  transition: 0.2s ease-in-out;
}

.navbar .links a:hover {
  color: rgba(115, 228, 145);
}

.navbar p {
  color: white;
  padding: 10px;
  transition: 0.3s ease-in-out;
}

.navbar p:hover {
  color: rgba(115, 228, 145);
}

.me {
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.me h1 {
  color: rgb(24, 220, 77);
  margin-bottom: 1px;
}

.me .full-stack {
  border-bottom: 2px solid rgb(55, 234, 102);
  font-weight: bold;
}

.me .description {
  width: 400px;
  text-align: center;
}

.me .location {
  border-bottom: 2px solid rgb(55, 234, 102);
  font-weight: bold;
}

.me .skills{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

.me .skills .skill {
  display: flex;
  flex-direction: column;
  width: 100px;
  gap: 20px;
  align-items: center;
  border: 2px solid black;
  border-radius: 20px;
  padding: 30px;
}

.projects-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.projects h1 {
  text-align: center;
  color: rgb(55, 234, 102);
}

.projects .project {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid black;
  border-radius: 20px;
  width: 400px;
}

.img-wrapper {
  position: relative; 
  width: 300px; 
  height: 200px; 
  overflow: hidden;
  box-shadow: 10px 10px 10px black;
}

.project-img {
  position: absolute;
  top: 0;
  left: 0; 
  width: 100%; 
  height: 100%; 
  object-fit: cover;
}

.img-btn {
  margin-top: 20px;
}

.hidden {
  opacity: 0;
  filter: blur(3px);
  transform: translateX(-10%);
  transition: all 0.3s ease-in-out;
}

.visible {
  opacity: 1;
  transform: translateX(0%);
  filter: blur(0px);
  box-shadow: 5px 5px 5px black;
}

.skill:nth-child(2) {
  transition-delay: 200ms;
}

.skill:nth-child(3) {
  transition-delay: 300ms;
}

.skill:nth-child(4) {
  transition-delay: 400ms;
}

.skill:nth-child(5) {
  transition-delay: 500ms;
}

